
.Appe {
  text-align: center;
  margin: auto;
  justify-content: center;
  position:relative;
  height:calc(100vh - 70px);
}
.main-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  overflow-y: hidden;
  height:100%;
}
.player-scores{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  align-items:center;
  gap:3.125rem;
  margin-top: 0.6rem;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}
.player-1-score{
  background-color:#eb5d5d;border-radius:0.3125rem;
  padding:0.3125rem;
}
.player-2-score{
  background-color:#42c442;border-radius:0.3125rem;
  padding:0.3125rem;
}
.gridBox{
  display:grid;
  --height:500px;
  --width:600px;
  --square_height:80px;
    --square_width:80px;
  justify-content:flex-start;
  margin: auto;
  padding: 0.3125rem;
  gap: 0;
  position:relative;
  left: 1.25rem;
  margin-top: 0.625rem;
  padding: 0.625rem;
  }
  
  .onebox{
    margin: 0; 
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    
    /* aspect-ratio: 1; */
  }
  .twobox{
    display:flex;
    margin: 0; 
    padding: 0;
    
  }
  .innerBox{
    width: 80%;
    height:80%;
    margin: 0; 
    padding: 0;
    border-radius:0.3125rem;
  }
  .dot{
    width:20%;
    height:20%;
    background-color:black;
  }
  .upperbtn{
    height:20%;
    width: 80%;
    border-radius:0.9375rem;
  }
  .lowerbtn{
    height:20%;
    width: 80%;
    border-radius:0.9375rem;
  }
  
  .sidebtn{ 
    width: 20%;
    height: 80%;
    border-radius:15px;
  }
  
  .sidelastbtn{
    width: 20%;
    height:80% ;
    border-radius:0.9375rem;
  }
  button{
    border:0;
    padding: 0;
  }
  .chance{
    /* min-width:150px;*/
    min-width:9.375rem;
    /* max-width:200px; */
    max-width:12.5rem;
    /* margin:auto; */
    padding:0.3125rem;
    animation:chance 2000ms infinite linear;
  }
  @keyframes  chance{
  0%{
    transform: scaleX(1);
    color: white;
    /* border-radius: 5px; */
    border-radius: .3125rem;
  }
  60% {
    transform: scaleX(1.3);
    color:lightgrey;
    /* border-radius: 5px; */
    border-radius: .3125rem;
  }
}
  .start-default{
    /* padding:5px; */
    padding: .3125rem;
    animation:start 2s linear 1000ms infinite ;
    transition: font-size 100ms;
  }
  @keyframes  start{
    0%{
      background-color: rgb(86, 86, 178);
      font-size: small;
      color: white;
      /* border-radius: 5px; */
      border-radius: .3125rem;
    }
    60% {
      background-color: rgb(48, 48, 170);
      font-size: larger;
      color:lightgrey;
      /* border-radius: 5px; */
      border-radius: .3125rem;
    }
  }
  .result{
    margin:auto;
    /* padding:5px; */
    padding: .3125rem;
    /* width:200px; */
    width: 12.5rem;
    animation:result 1800ms infinite linear;
  }
  @keyframes  result{
    0%{
      background-color: rgb(86, 86, 178);
      transform: scale(1,1);
      color: white;
      border-radius: 5px;
    }
    60% {
      background-color: rgb(48, 48, 170);
      transform: scale(1.3,1.3);
      color:hotpink;
      border-radius: 5px;
    }
    90%{
      background-color: rgb(86, 86, 178);
      transform: scale(1.1,1.1);
      color: white;
      /* border-radius: 5px; */
      border-radius: .3125rem;
    }
  }
  @media all and (min-width:320px) and (max-width:374px){ 
    /* Mobile */
    .gridBox{
      --height:200px;
      --width:300px;
      --square_height:80px;
      --square_width:80px;
    }
  }
  @media all and (min-width:375px) and (max-width:424px){ 
    /* Mobile */
    .gridBox{
      --height:270px;
      --width:370px;
      --square_height:80px;
      --square_width:80px;
    }
  }
  
  @media all and (min-width:425px) and (max-width:768px){
    /* Tablet */
    .gridBox{
      --height:300px;
      --width:400px;
      --square_height:80px;
      --square_width:80px;
    }
  }
  
  @media all and (min-width:601px) and (max-width:850px){
    /* Tablet */
    .gridBox{
      --height:501px;

      --width:550px;
      --square_height:80px;
      --square_width:80px;
    }
  }
  /* .App{
    animation:screen 3000ms infinite linear;
  }
  @keyframes  screen{
    0%{
      background-color: wheat;
    }
    20% {
      background-color:darkseagreen;
      
    }
    40% {
      background-color:rgb(87, 102, 211);
    }
    60%{
      background-color:lightblue;
    }
    90%{
      background-color:wheat;
    }
  } */
