
.Navbartxt{
    font-weight: 900;
    background: -webkit-linear-gradient(rgb(208, 235, 235), white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color:#212121;
    border:'0'
    }
    
    .Navbartxt:hover{
      border:'none';
      color: wheat;
      cursor: pointer;
      transition: 1s;
      transform: scale(0.9);
    }
  /* select:hover{
    color: wheat;
      cursor: pointer;
      transition: 1s;
      transform: scale(0.9);
  } */

.cont {
  cursor: pointer;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100%;
     width: 70%;
  
    font-weight: bold;
    margin-left: 1%;
    /* border: 1px solid rgb(224, 30, 30); */
}

  
.typewriter {
    background: -webkit-linear-gradient(rgb(255, 255, 255), rgb(92, 235, 235));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size:20px;
      white-space: nowrap;
      overflow: hidden;
    
      animation: cursor 0.5s step-start infinite, 
      text 5s steps(18) alternate infinite;
}

/* @media all and (min-width:0px) and (max-width:820px) {
  .typewriter{
    display:'none'
  }
}
@media all and (min-width:821px){
  .typewriter{
    display:'block'
  }
} */
  
  @keyframes cursor {
      0%, 40% { 
      border-color: #212121; 
    }
  }
  
  @keyframes text {
      0% { 
      width: 0; 
    }
      100% { 
      width: 15.5ch; 
    }
  }

/* CSS */
.button-29 {
    margin-left: 3%;
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}