.Appe {
  text-align: center;
  margin: auto;
  justify-content: center;
}
.gridBox{
  height: 600px;
  width: 600px;
  margin: auto auto;
  gap: 0;
  }
  
  .onebox{
    margin: 0; 
    padding: 0;
    display: flex;
    flex-direction: column;
    /* aspect-ratio: 1; */
  }
  .twobox{
    margin: 0; 
    padding: 0;
  }
  
  .innerBox{
    width: 80%;
    height:100%;
    margin: 0; 
    padding: 0;
  }
  
  .upperbtn{
    height:100%;
    width: 80%;
  }
  .lowerbtn{
    height:20%;
    width: 80%;
  }
  
  .sidebtn{ 
    width: 20%;
    height: 100%;
  }
  
  .sidelastbtn{
    width: 20%;
    height:80% ;
  }
  button{
    border:0;
    padding: 0;
  }