.App {
  text-align: center;
}
.gridBox{
  height: 600px;
  width: 600px;
  margin: auto auto;
  gap: 0;
  }
  
  .onebox{
     /* height: 50px; 
    width: 50px; */
    margin: 0; 
    padding: 0;
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    /* aspect-ratio: 1; */
  }
  .twobox{
    margin: 0; 
    padding: 0;
    /* border: 1px solid red; */
  }
  
  .innerBox{
    /* margin: 2%; */
    width: 80%;
    /* border: 1px solid rgb(39, 39, 10); */
  }
  
  .upperbtn{
    /* margin-left:20% ; */
    height:100%;
    width: 80%;
  }
  .lowerbtn{
    height:20%;
    width: 80%;
  }
  
  .sidebtn{ 
    width: 20%;
    height: 100%;
  }
  
  .sidelastbtn{
    width: 20%;
    /* margin-top:20%; */
    height:80% ;
  }