/* :root{
  --height:600px;
  --width:500px;
} */
body {
  margin: 0;
  background-color: 'wheat';
  min-height:'100vh';
  min-width: '100vw';
}
/* @media screen  and (max-width:280px){
  :root{
    --height:653px;
    --width:280px;
  }
} */



